{% extends 'base.html' %}

{% load static %}

{% block title %}Movie List{% endblock %}

{% block content %}

  {% if not is_visited %}
    <h2>Welcome to our site!</h2>
  {% else %}
    <h3 class = "last_visit">You've visited this page last {{ visit }}</h3>
  {% endif %}

  {% if messages %}
    {% for message in messages %}
      <h1>{{ message }}</h1>
    {% endfor %}
    <h1>{{ success_message }}</h1>
  {% endif %}

  {% if movies %}
  <h1>Movie List</h1>
  <div class ="container">

  <div class="row movies">
    {% for movie in movies %}
      <div class="col-xs-6 col-md-3">
        <div class="movie-card">
          <div class="movie-image">
            <a href="{% url 'movie:movie_detail' movie.slug %}">
            {% if movie.picture %}
            <img src = "/media/{{ movie.picture }}" class="movie-pic"/>
            {% else %}
            <img src = "{% static 'image/image-placeholder.jpg' %}" class="movie-pic"/>
            {% endif %}
            </a>
          </div>
          <div class="movie-info">

            <div class="button-wrap row">
              {% if user.is_authenticated %}
              <a href="{% url 'movie:update_movie' movie.slug %}" class = "button">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <button type="button" class="button" data-toggle="modal" data-target="#modalDelete" data-name="{{movie.title}}" data-url="{% url 'movie:soft_delete_movie' movie.slug %}">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
              <button class = "likes button" id="likes" data-movieid="{{movie.id}}" data-slug="{{movie.slug}}" class="button" type="button"><span class="glyphicon glyphicon-thumbs-up"></span></button>
              {% endif %}
              <span id="like_count">Likes: {{movie.likes}}</span>
            </div>

            <div class="title"><a href="{% url 'movie:movie_detail' movie.slug %}">{{ movie.title }}</a></div>
            <div class="body">{{ movie.body|truncatewords:10 |linebreaks }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
  {% else %}
    {% if user.is_authenticated %}
      <h2>No Movie list :( why not add one? <a href="{% url 'movie:add_movie' %}" class="button">Add Movie</a></h2>
    {% else %}
      <h2>No Movie list :(</h2>
    {% endif %}
  {% endif %}

{% if is_paginated %}
<div class="row">
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page_obj = {{ page_obj.previous_page_number }}" class="button">Previous</a>
      {% endif %}
      <span class="current">Page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}</span>
      {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}" class="button">Next</a>
      {% endif %}
    </span>
  </div>
</div>
{% endif %}
<!-- MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalDelete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure you want to delete this movie?</h4>
      </div>
      <div class="modal-body">
        <form action="#" method="POST">
          {% csrf_token %}
          <input type="submit" class="button" value = "Delete">
          <button type="button" class="button" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- MODAL END -->
{% endblock %}
